
.img-box{
    background-color: rgb(255, 255, 255);
    border: 4px solid #45FEFE;
    width: 95px;
    height: 95px;
    padding: 15px;
    border-radius: 12px;
    position: absolute;
    top: 0;
    margin-top: -65px;
}
.img-box img{
    width: 100%;
    border-radius: 12px;
}

.content-login{
    background-color: #FFFFFF;
    border: 1px solid white;
    width: 343px;
    height: 466px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px 25px;
}

.content-login h6{
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: #666666;
}

